body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}



h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}